.hanji-stroke {
    width: 109px;
    height: 109px;
    color: red;
}

.hanji-stroke path, .hanji-strokes path {
    stroke: #ccc;
    stroke-width: 2;
}

.hanji-strokes path:last-child {
    stroke: red;
    stroke-width: 3;
}

.hanji-strokes:hover path:last-child {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
